@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Fira Code", monospace;
  }
}

.custom-caret {
  caret-color: transparent;
  position: relative;
}

/* CustomInput.css */
.custom-caret {
  caret-color: #3182ce; /* Cambia el color del caret */
}
